#nyt-mini-nav-controls {
  display: flex;
  align-self: start;
  background: rgba(255, 255, 255, 0.8);
  padding-left: 10px;
  border-radius: 5px;
}

#nyt-mini-nav-controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

#nyt-mini-nav-controls button:hover {
  background-color: #DDEFFF;
}

#nyt-mini-nav-controls img {
  width: 24px;
  height: 24px;
}
